@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@100;400&display=swap');
@import 'vars.scss';
@import 'header.scss';

body {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    position: relative;
    width: 100%;
    line-height: 1.4;
}
p {
    color: $grayish;
}
.section {
    position: relative;
    text-align: center;
    overflow: hidden;
    
}

.section--introduction {
    height: 700px;
}

.img-container {
    position: relative;
    top: -160px;
    width: 100%;
    background-image: url('../images/bg-intro-mob.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 120% 115%;
    background-position: right top;
}

.intro--img {
    width: 100%;
    height: auto;
}

.intro--title {
    position: relative;
    font-weight: 400;
    font-size: 2em;
    color: $dark-blue;
    top: -160px;
}

.intro--lead {
    position: relative;
    top: -160px;
    margin: 20px;
}
.eb-btn {
    position: relative;
    font-size: 0.8em;
    top: -160px;
    font-family: 'Public Sans', sans-serif;
    color: white;
    cursor: pointer; 
    background-image: linear-gradient(to right, $lime-green, $bright-cyan);
    border: 0;
    border-radius: 30px;
    padding: 16px 40px;
    margin: 10px;

    &:hover {
        background-image: linear-gradient(to right, lighten($lime-green,20%), lighten($bright-cyan,20%));
    }
  }


  //Second section
.section--title {
    color: $dark-blue;
}
.section--features {
background: $light-grayish-blue;
}

.card-featured {
    margin: 50px;
}

.card-featured__title {
    color: $dark-blue;
}

//nav

.main-nav {
    visibility: hidden;
    transition: opacity 0.5s ease-in;
    opacity: 0;
    height: 0;
    position: absolute;
    left: 13px;
    top: 84px;
    text-align: center;
    z-index: 1;
    background: rgba(1, 1, 1, 0.3);
    
  }
  .main-nav--expanded { 
    position: absolute;
    top: 76px;
    left: 0;
    transition: opacity 0.2s ease-in;
    visibility: visible;
    opacity: 1;
    height: 100vh;
    width: 100vw;
    display: block;
}

  .main-nav--list {
    background: white;
    border-radius: 10px;
    padding: 0;
  }

  
  .main-nav--list-item {
    padding: 10px;
    list-style: none;

  }

  footer {
      background: $dark-blue;
      color: white;
      text-align: center;
  }